@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome To Daclue Movie App</h1>
    <div>

        <img src=" https://images.pexels.com/photos/7234265/pexels-photo-7234265.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Sorry" style="width:700px;height:500px;">


    </div>
</div>*@

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Daclue Movie App</h1>
        <p class="lead text-muted">Welcome to my movie app, where you can access different movies of your choice. Enjoy !!</p>
        <p>

            <img src=" https://images.pexels.com/photos/7234265/pexels-photo-7234265.jpeg?auto=compress&cs=tinysrgb&w=600" 
            alt="Sorry" style="width:700px;height:500px;">

           @* <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>*@
        </p>
    </div>
</section>

